Repository shanpriyan/nodejs.org, changes with the owners that CODEOWNERS names for each.
All owners: @nodejs/nodejs-ar, @nodejs/nodejs-de, @nodejs/nodejs-es, @nodejs/nodejs-fa, @nodejs/nodejs-fr, @nodejs/nodejs-it, @nodejs/nodejs-ja, @nodejs/nodejs-ko, @nodejs/nodejs-pt, @nodejs/nodejs-ro, @nodejs/nodejs-ru, @nodejs/nodejs-tr, @nodejs/nodejs-uk, @nodejs/nodejs-cn, @nodejs/nodejs-tw

feat: migrate `de`
  i18n/locales/de.json
  pages/de/site.json
Owners: @nodejs/nodejs-de

feat: migrate `es`
  i18n/locales/es.json
  pages/es/site.json
Owners: @nodejs/nodejs-es

feat: migrate `fa`
  i18n/locales/fa.json
  pages/fa/site.json
Owners: @nodejs/nodejs-fa

feat: migrate `fr`
  i18n/locales/fr.json
  pages/fr/site.json
Owners: @nodejs/nodejs-fr

feat: migrate `gl`
  i18n/locales/gl.json
  pages/gl/site.json
Owners: none

feat: migrate `it`
  i18n/locales/it.json
  pages/it/site.json
Owners: @nodejs/nodejs-it

feat: migrate `ja`
  i18n/locales/ja.json
  pages/ja/site.json
Owners: @nodejs/nodejs-ja

feat: migrate `ka`
  i18n/locales/ka.json
  pages/ka/site.json
Owners: none

feat: migrate `ko`
  i18n/locales/ko.json
  pages/ko/site.json
Owners: @nodejs/nodejs-ko

feat: migrate `nl`
  i18n/locales/nl.json
  pages/nl/site.json
Owners: none

feat: migrate `pt-br`
  i18n/locales/pt-br.json
  pages/pt-br/site.json
Owners: @nodejs/nodejs-pt

feat: migrate `ro`
  i18n/locales/ro.json
  pages/ro/site.json
Owners: @nodejs/nodejs-ro

feat: migrate `ru`
  i18n/locales/ru.json
  pages/ru/site.json
Owners: @nodejs/nodejs-ru

feat: migrate `tr`
  i18n/locales/tr.json
  pages/tr/site.json
Owners: @nodejs/nodejs-tr

feat: migrate `uk`
  i18n/locales/uk.json
  pages/uk/site.json
Owners: @nodejs/nodejs-uk

feat: migrate `zh-cn`
  i18n/locales/zh-cn.json
  pages/zh-cn/site.json
Owners: @nodejs/nodejs-cn

feat: migrate `zh-tw`
  i18n/locales/zh-tw.json
  pages/zh-tw/site.json
Owners: @nodejs/nodejs-tw

chore: update next and previous strings
  i18n/locales/ar.json
  i18n/locales/ca.json
  i18n/locales/de.json
  i18n/locales/es.json
  i18n/locales/fa.json
  i18n/locales/gl.json
  i18n/locales/it.json
  i18n/locales/ja.json
  i18n/locales/ka.json
  i18n/locales/ko.json
Owners: none

chore: remove `en` site.json
  pages/en/site.json
Owners: none

CODEOWNERS:

# Localization teams

/pages/ar/ @nodejs/nodejs-ar
/pages/ca/ # No Catalan team
/pages/de/ @nodejs/nodejs-de
/pages/es/ @nodejs/nodejs-es
/pages/fa/ @nodejs/nodejs-fa
/pages/fr/ @nodejs/nodejs-fr
/pages/gl/ # No Galacian team
/pages/it/ @nodejs/nodejs-it
/pages/ja/ @nodejs/nodejs-ja
/pages/ko/ @nodejs/nodejs-ko
/pages/pt-br/ @nodejs/nodejs-pt
/pages/ro/ @nodejs/nodejs-ro
/pages/ru/ @nodejs/nodejs-ru
/pages/tr/ @nodejs/nodejs-tr
/pages/uk/ @nodejs/nodejs-uk
/pages/zh-cn/ @nodejs/nodejs-cn
/pages/zh-tw/ @nodejs/nodejs-tw
