Repository shanpriyan/nodejs.org, changes with the owners that CODEOWNERS names for each.
All owners: @nodejs/nodejs-ar, @nodejs/nodejs-de, @nodejs/nodejs-es, @nodejs/nodejs-fa, @nodejs/nodejs-fr, @nodejs/nodejs-it, @nodejs/nodejs-ja, @nodejs/nodejs-ko, @nodejs/nodejs-pt, @nodejs/nodejs-ro, @nodejs/nodejs-ru, @nodejs/nodejs-tr, @nodejs/nodejs-uk, @nodejs/nodejs-cn, @nodejs/nodejs-tw

feat(data): updated hooks and how data is provided
  hooks/useNavigation.tsx
  hooks/useNodeData.ts
  next.data.mjs
  pages/_app.tsx
  pages/_document.tsx
  types/index.ts
Owners: none

chore(dependencies): added sw dependency
  package-lock.json
  package.json
Owners: none

chore(external): no need to have a package.json there anymore
  external/survey-2018/package-lock.json
  external/survey-2018/package.json
Owners: none

chore(release-post): minor typo fix
  scripts/release-post/index.js
Owners: none

feat(release-post): contained release posts within the scripts folder
  scripts/README.md
  scripts/release-post/downloadsTable.js
  scripts/release-post/index.js
  scripts/release-post/template.hbs
Owners: none

chore(scripts): added jquery as script
  pages/_document.tsx
Owners: none

fix(locale): fixed determination of route match
  hooks/useLocale.ts
Owners: none

chore(layouts): introduced previous releases layout
  layouts/DownloadLayout.tsx
  layouts/DownloadReleasesLayout.tsx
  layouts/download-releases.hbs
  providers/layoutProvider.tsx
Owners: none

chore(downloads): use dompurify for the frontmatter modules
  layouts/DownloadReleasesLayout.tsx
  package-lock.json
  package.json
Owners: none

feat(components): introduced download table component
  components/Downloads/DownloadReleasesTable.tsx
  i18n/locales/en.json
Owners: none

refactor(components): use Link component
  components/Docs/NodeApiVersionLinks.tsx
  components/Downloads/DownloadList.tsx
  components/Downloads/DownloadReleasesTable.tsx
  components/Downloads/PrimaryDownloadMatrix.tsx
  components/Downloads/SecondaryDownloadMatrix.tsx
  components/Footer.tsx
  components/Home/Banner.tsx
  components/Home/HomeDownloadButton.tsx
  components/HtmlHead.tsx
  components/LanguagePickerSvg.tsx
  layouts/DownloadCurrentLayout.tsx
  layouts/IndexLayout.tsx
Owners: none

fix(links): fix api docs links
  navigation.json
Owners: none

chore(types): updated node data types
  global.d.ts
  next.data.mjs
  types/index.ts
Owners: none

chore(deps): updated dependencies
  package-lock.json
Owners: none

feat(heading): introduced anchored heading component
  components/AnchoredHeading.tsx
  scripts/plugins/anchor-markdown-headings.js
Owners: none

chore(helpers): introduced helper for getting a header link
  util/getHeadingLink.ts
Owners: none

chore(theme): adopted anchored component
  theme.tsx
Owners: none

chore(anchor): id is always provided
  components/AnchoredHeading.tsx
  util/getHeadingLink.ts
Owners: none

chore(dependencies): updated package json
  package-lock.json
Owners: none

chore(mdx): transformed into mdx pages that need to be in mdx
  pages/ar/docs/index.mdx
  pages/ca/docs/index.mdx
  pages/de/docs/index.mdx
  pages/en/blog/npm/peer-dependencies.mdx
  pages/en/docs/guides/buffer-constructor-deprecation.mdx
  pages/en/docs/index.mdx
  pages/es/docs/guides/buffer-constructor-deprecation.mdx
  pages/es/docs/index.mdx
  pages/fa/download/releases.md
  pages/fa/download/releases.mdx
  pages/fr/docs/guides/buffer-constructor-deprecation.mdx
  pages/fr/docs/index.mdx
  pages/ja/docs/guides/buffer-constructor-deprecation.mdx
  pages/ja/docs/index.mdx
  pages/ka/docs/index.mdx
  pages/ko/docs/index.mdx
  pages/nl/docs/index.mdx
  pages/pt-br/docs/index.mdx
  pages/ro/docs/guides/buffer-constructor-deprecation.mdx
  pages/ro/docs/index.mdx
  pages/ru/docs/index.mdx
  pages/tr/docs/index.mdx
  pages/uk/docs/index.mdx
  pages/zh-cn/docs/guides/buffer-constructor-deprecation.mdx
  pages/zh-cn/docs/index.mdx
  pages/zh-tw/docs/index.mdx
Owners: @nodejs/nodejs-ar, @nodejs/nodejs-de, @nodejs/nodejs-es, @nodejs/nodejs-fa, @nodejs/nodejs-fr, @nodejs/nodejs-ja, @nodejs/nodejs-ko, @nodejs/nodejs-pt, @nodejs/nodejs-ro, @nodejs/nodejs-ru, @nodejs/nodejs-tr, @nodejs/nodejs-uk, @nodejs/nodejs-cn, @nodejs/nodejs-tw

chore(dependencies): updated dependencies
  package-lock.json
Owners: none

chore(mdx): default config
  next.config.mjs
Owners: none

fix: upgrade nextra and refactor getNextData
  next.config.mjs
  next.data.mjs
  package-lock.json
  package.json
Owners: none

chore(layouts): sanitize to be memoized
  layouts/DownloadReleasesLayout.tsx
Owners: none

feat(layouts): introduced blog post layout
  i18n/locales/en.json
  layouts/BlogPostLayout.tsx
  layouts/blog-post.hbs
  providers/layoutProvider.tsx
Owners: none

fix(release-post): end paragraph markings
  scripts/release-post/template.hbs
Owners: none

fix: only pass necessary node versions in page props
  next.data.mjs
Owners: none

fix(markdown): fix buffer guide markdown
  pages/en/docs/guides/buffer-constructor-deprecation.md
  pages/ja/docs/guides/buffer-constructor-deprecation.md
  pages/ja/docs/guides/debugging-getting-started.md
  pages/ja/docs/index.mdx
  pages/ko/docs/index.mdx
  pages/zh-cn/docs/guides/buffer-constructor-deprecation.md
Owners: @nodejs/nodejs-ja, @nodejs/nodejs-ko, @nodejs/nodejs-cn

feat(mdx): blockquote as highlightbox
  theme.tsx
Owners: none

fix(linting): fixed prettier rules for mdx
  .remarkrc
  package-lock.json
  package.json
Owners: none

fix: /404 route and optimize page size
  next.config.mjs
  next.data.mjs
  package-lock.json
  package.json
  pages/404.mdx
Owners: none

fix: optimize next build
  next.config.mjs
  next.data.mjs
  pages/en/blog/release/v14.1.0.mdx
Owners: none

chore(canonical): add canonical
  components/HtmlHead.tsx
Owners: none

refactor(data): simplified data gathering
  hooks/useNodeData.ts
  next.data.mjs
  types/index.ts
Owners: none

chore(dependencies): introducesd sitemap and swr
  package-lock.json
  package.json
Owners: none

chore(ts): allow downlevel iteration
  tsconfig.json
Owners: none

fix(build): unoptimized images
  next.config.mjs
Owners: none

feat(downloads): only latest major of each version
  components/Downloads/DownloadReleasesTable.tsx
  layouts/DownloadReleasesLayout.tsx
  pages/_document.tsx
Owners: none

chore(js): removed unused code
  public/static/js/previousVersion.js
Owners: none

chore(404): prettified 404 file
  pages/404.mdx
Owners: none

CODEOWNERS:

# Localization teams

/pages/ar/ @nodejs/nodejs-ar
/pages/ca/ # No Catalan team
/pages/de/ @nodejs/nodejs-de
/pages/es/ @nodejs/nodejs-es
/pages/fa/ @nodejs/nodejs-fa
/pages/fr/ @nodejs/nodejs-fr
/pages/gl/ # No Galacian team
/pages/it/ @nodejs/nodejs-it
/pages/ja/ @nodejs/nodejs-ja
/pages/ko/ @nodejs/nodejs-ko
/pages/pt-br/ @nodejs/nodejs-pt
/pages/ro/ @nodejs/nodejs-ro
/pages/ru/ @nodejs/nodejs-ru
/pages/tr/ @nodejs/nodejs-tr
/pages/uk/ @nodejs/nodejs-uk
/pages/zh-cn/ @nodejs/nodejs-cn
/pages/zh-tw/ @nodejs/nodejs-tw
